html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --primary: #08A454;
}

body {
  /* background-image: url('/bg-4.jpeg'); */
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black !important;
}

.overlay {
  /* border: 2px solid blue; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
}